.image {
  height: 100%;
  width: 100%;
}

:global(.swiper-container) {
  padding-top: 5%;
  padding-bottom: 10%;
}
:global(.swiper-zoom-container) {
  height: 300px;
}

:global(.swiper-wrapper) {
  padding-top: 8%;
  padding-bottom: 2%;
}
