.image {
  height: 100%;
  width: 100%;
}

:global(.swiper-container) {
  padding-top: 5%;
  padding-bottom: 10%;
}
:global(.swiper-zoom-container) {
  height: 300px;
}

:global(.swiper-wrapper) {
  padding-top: 8%;
  padding-bottom: 2%;
}

@media (max-width: 800px) {
  :global(.swiper-wrapper) {
    padding-bottom: 10%;
  }

  :global(.slider-arrow) {
    display: none;
  }

  :global(.swiper-container) {
    width: 90%;
  }
}
