/* Modal backdrop */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  overflow: hidden;
}

/* Modal content */
.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0;
  border-radius: 8px;
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  overflow: hidden;
}

/* Close button */
.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 5vh;
  cursor: pointer;
  z-index: 10;
}

.close-button:hover {
  color: rgb(153, 151, 151);
  scale: 1.2;
}
